---
import image from '../assets/profile.png'
---

<section class="bg-white dark:bg-gray-900" id="about">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full dark:hidden" src={image.src} alt="dashboard image">
        <img class="w-full hidden dark:block" src={image.src} alt="dashboard image">
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">An Impact-Driven Individual</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">I am a Machine Learning Architect and Technical Lead passionate about building AI-driven solutions that create real-world impact. My work spans MLOps, computer vision, IoT, and robotics, where I design and implement scalable, efficient systems. I thrive at the intersection of AI and software engineering, ensuring that cutting-edge technology is both practical and impactful. Whether optimizing infrastructure, developing intelligent monitoring systems, or enhancing automation, I am driven by the goal of solving complex problems with innovative, data-driven solutions.</p>
        </div>
    </div>
</section>