---
import image from '../assets/profile.png'
---

<section class="bg-white dark:bg-gray-900" id="about">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full dark:hidden" src={image.src} alt="dashboard image">
        <img class="w-full hidden dark:block" src={image.src} alt="dashboard image">
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">An Impact-Driven Individual</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">I am Machine Learning Engineer and Architect with expertise in designing scalable, intelligent systems that bridge cutting-edge research and real-world applications. My work integrates MLOps, computer vision, IoT, and robotics, where I architect and implement efficient pipelines, frameworks, and infrastructures for advanced AI solutions. I thrive at the intersection of theory and practice, translating experimental models into production-ready systems that drive measurable impact. Passionate about solving complex problems, I focus on advancing machine learning methodologies while ensuring their practical adoption across domains—from intelligent monitoring to autonomous systems—through rigorous research, thoughtful design, and technology leadership.</p>
        </div>
    </div>
</section>