---
const techStack = [
    {
        title: "Technical",
        description: "Understanding various technology concepts is essential— the broader your skills, the more perspectives you gain to identify innovative and effective solutions, ensuring adaptability across different domains.",
    },
    {
        title: "Leadership",
        description: "Being an inspiration and influencing others creates a strong personal brand, enabling you to expand connections, drive team motivation, and foster a culture of innovation and excellence.",
    },
    {
        title: "Strategical",
        description: "Decision-making should be driven by a clear vision of the past, present, and future, allowing you to craft solutions that are not just effective today but also scalable and sustainable for long-term success.",
    },
    {
        title: "Adaptability",
        description: "Technology evolves every second, and so must the solutions—staying ahead means embracing change, learning continuously, and ensuring that architectures remain resilient and forward-compatible.",
    },
    {
        title: "Collaboration",
        description: "A great team can achieve far more than a single genius—effective teamwork, knowledge sharing, and synergy among stakeholders are key to delivering solutions that are innovative, efficient, and aligned with business goals.",
    },
    {
        title: "Precision",
        description: "Technology must be applied at the right time and in the right place, as the best solution is not necessarily the most advanced one, but rather the one that fits the problem with precision, efficiency, and purpose.",
    },
];
---

<section class="bg-white dark:bg-gray-900" id="tech-stack">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
            >
                Personality of Architect
            </h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                Shaped by experience and opportunity, guided by the Principal of UNNES Digital Center and the CEO of PT Global Data Inspirasi, I've gained deeper insight into crafting solutions that truly matter.
            </p>
        </div>
        <div
            class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
        >
            {
                techStack.map((item) => (
                    <div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            {item.title}
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            {item.description}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
